Repository wawiesel/wks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-format, check-types, check-complexity, update-readme-stats

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-format
        name: Check Formatting (Ruff)
        entry: scripts/check_format.py
        language: script
        types: [python]

      - id: check-types
        name: Check Types (Mypy)
        entry: scripts/check_types.py
        language: script
        types: [python]
        require_serial: true

      - id: check-complexity
        name: Check Complexity (Lizard)
        entry: scripts/check_complexity.py
        language: script
        types: [python]
        stages: [pre-push]

      - id: pytest
        name: pytest
        entry: .venv/bin/pytest
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      - id: update-readme-stats
        name: Update README Statistics
        entry: scripts/update_readme_stats.py
        language: script
        files: ^README\.md$
        pass_filenames: false
        always_run: false
        stages: [pre-commit]

docs: add P0 convention for active work and update utils task
  tests/integration/test_mcp_server.py
  tests/integration/test_mcp_setup.py
  wks/api/config/canonicalize_path.py
  wks/api/config/expand_path.py
  wks/api/config/find_matching_path_key.py
  wks/mcp/README.md
Due: check-format, check-types, check-complexity

fix: sort imports after path utility consolidation
  wks/api/mcp/cmd_install.py
  wks/api/mcp/cmd_uninstall.py
  wks/api/monitor/cmd_filter_add.py
  wks/api/monitor/cmd_filter_remove.py
  wks/api/monitor/cmd_priority_add.py
  wks/api/monitor/cmd_priority_remove.py
  wks/api/monitor/validate_value.py
  wks/api/transform/_TransformController.py
  wks/api/vault/_obsidian/_Backend.py
Due: check-format, check-types, check-complexity

fix: sort imports after path utility consolidation
  .CCUNO
  defs.json
  tests/unit/test_wks_api_validate_output.py
  wks/api/ValidateOutput.py
  wks/api/_EnsureArgUri.py
  wks/api/_NormalizeOutput.py
  wks/api/_ensure_arg_uri.py
  wks/api/_normalize_output.py
  wks/api/link/cmd_check.py
  wks/api/link/cmd_sync.py
  wks/api/transform/cmd_engine.py
  wks/api/validate_output.py
  wks/api/vault/cmd_check.py
  wks/api/vault/cmd_sync.py
  wks/cli/_run_single_execution.py
Due: check-format, check-types, check-complexity

refactor: move loose functions from wks/api to wks/api/config
  tests/unit/test_wks_api_validate_output.py
  wks/api/ValidateOutput.py
  wks/api/_EnsureArgUri.py
  wks/api/_NormalizeOutput.py
  wks/api/config/_ensure_arg_uri.py
  wks/api/config/_normalize_output.py
  wks/api/config/validate_output.py
  wks/api/link/cmd_check.py
  wks/api/link/cmd_sync.py
  wks/api/transform/cmd_engine.py
  wks/api/vault/cmd_check.py
  wks/api/vault/cmd_sync.py
  wks/cli/_run_single_execution.py
Due: check-format, check-types, check-complexity

refactor(uno): enforce one definition per file
  README.md
  qa/metrics/defs.json
  wks/api/config/normalize_path.py
  wks/api/link/Direction.py
  wks/api/link/_process_link.py
  wks/api/link/cmd_check.py
  wks/api/link/cmd_show.py
Due: check-format, check-types, check-complexity, update-readme-stats

docs: update NEXT.md and wks/README.md after utils consolidation
  NEXT.md
Due: none

docs: update NEXT.md and wks/README.md after utils consolidation (#56)
  NEXT.md
Due: none

feat(docs): Add formal diff layer specifications
  docs/specifications/diff.yaml
  qa/specs/diff.md
Due: none

feat(docs): move diff requirements under qa/reqs
  docs/specifications/diff.yaml
  qa/reqs/diff/WKS-DIFF-001.yml
  qa/reqs/diff/WKS-DIFF-002.yml
  qa/reqs/diff/WKS-DIFF-003.yml
  qa/reqs/diff/WKS-DIFF-004.yml
  qa/reqs/diff/WKS-DIFF-005.yml
  qa/specs/diff.md
  scripts/update_traceability_audit.py
Due: check-format, check-types, check-complexity

wip(diff): engine registry + guard tests
  tests/unit/test_wks_api_diff_engines.py
  wks/api/diff/AstEngine.py
  wks/api/diff/Bsdiff4Engine.py
  wks/api/diff/_ENGINES.py
  wks/api/diff/controller.py
  wks/api/diff/get_engine.py
Due: check-format, check-types, check-complexity

feat(diff): add diff command via MCP
  wks/api/diff/BinaryDiffOutput.py
  wks/api/diff/CodeDiffOutput.py
  wks/api/diff/DiffMetadata.py
  wks/api/diff/DiffResult.py
  wks/api/diff/TextDiffOutput.py
  wks/api/diff/cmd_diff.py
  wks/cli/_create_app.py
  wks/cli/diff.py
  wks/mcp/server.py
Due: check-format, check-types, check-complexity

feat(transform): add treesitter engine
  qa/specs/diff.md
  tests/unit/test_wks_api_transform_treesitter.py
  wks/api/transform/README.md
  wks/api/transform/_get_engine_by_type.py
  wks/api/transform/_treesitter/_TreeSitterEngine.py
  wks/api/transform/_treesitter/_language_map.py
Due: check-format, check-types, check-complexity

fix(transform): satisfy ruff
  tests/unit/test_wks_api_transform_treesitter.py
  wks/api/transform/_get_engine_by_type.py
  wks/api/transform/_treesitter/_TreeSitterEngine.py
Due: check-format, check-types, check-complexity

chore(transform): stabilize test artifacts
  wks/api/transform/_treesitter/_language_map.py
  wks/api/transform/mime.py
Due: check-format, check-types, check-complexity

feat(diff): implement auto mode, SexpDiffer, and cache integration
  pyproject.toml
  pytest.ini
  tests/conftest.py
  tests/smoke/test_wksc_transform.py
  tests/unit/test_wks_api_cat_cmd.py
  tests/unit/test_wks_api_diff_MyersEngine.py
  tests/unit/test_wks_api_diff_SexpDiffer.py
  tests/unit/test_wks_api_diff_cmd_diff.py
  tests/unit/test_wks_api_diff_controller.py
  tests/unit/test_wks_api_diff_engines.py
  tests/unit/test_wks_api_transform_cmd_engine.py
  tests/unit/test_wks_api_transform_cmd_info.py
  tests/unit/test_wks_api_transform_cmd_list.py
  tests/unit/test_wks_api_transform_get_content.py
  tests/unit/test_wks_api_transform_mime.py
  tests/unit/test_wks_api_transform_treesitter.py
  wks/api/diff/Bsdiff4Engine.py
  wks/api/diff/SexpDiffer.py
  wks/api/diff/_ENGINES.py
  wks/api/diff/_auto_engine.py
  wks/api/diff/cmd_diff.py
  wks/api/diff/controller.py
  wks/api/diff/get_engine.py
  wks/api/transform/README.md
  wks/api/transform/_CacheManager.py
  wks/api/transform/_TransformController.py
  wks/api/transform/_auto_engine.py
  wks/api/transform/_binarypass/_BinaryPassEngine.py
  wks/api/transform/_binarypass/__init__.py
  wks/api/transform/_get_engine_by_type.py
  wks/api/transform/_testengine/_TestEngine.py
  wks/api/transform/_textpass/_TextPassEngine.py
  wks/api/transform/_textpass/__init__.py
  wks/api/transform/_treesitter/_TreeSitterEngine.py
  wks/api/transform/_treesitter/_language_map.py
  wks/api/transform/_treesitter/_language_registry.py
  wks/cli/diff.py
Due: check-format, check-types, check-complexity

test(diff): increase test coverage to 87.5%
  tests/unit/test_wks_api_diff_Bsdiff3Engine.py
  tests/unit/test_wks_api_diff_DiffConfig.py
  tests/unit/test_wks_api_diff_MyersEngine.py
  tests/unit/test_wks_api_diff_SexpDiffer.py
  tests/unit/test_wks_api_diff_auto_engine.py
  wks/api/diff/AstEngine.py
Due: check-format, check-types, check-complexity

fix(mutations): add timeout handling to prevent indefinite hangs
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

chore: remove completed diff implementation task from NEXT.md
  NEXT.md
Due: none

fix(mutations): increase per-test timeout from 30m to 2h
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(mutations): increase timeouts to prevent CI job termination
  .github/workflows/test.yml
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: restore Bsdiff3Engine.py accidentally deleted in merge
  qa/reqs/diff/WKS-DIFF-001.yml
  qa/reqs/diff/WKS-DIFF-002.yml
  qa/reqs/diff/WKS-DIFF-003.yml
  qa/reqs/diff/WKS-DIFF-004.yml
  qa/reqs/diff/WKS-DIFF-005.yml
  qa/specs/diff.md
  wks/api/diff/controller.py
  wks/api/diff/get_engine.py
Due: check-format, check-types, check-complexity

fix(mutations): reduce timeouts based on local testing
  .github/workflows/test.yml
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(mutations): use thread timeout method to prevent SIGALRM killing mutmut
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(ci): run each mutation domain as separate docker exec for signal forwarding
  .github/workflows/test.yml
Due: none

test(ci): disable pytest-timeout to test hypothesis 5
  .github/workflows/test.yml
  README.md
  qa/traceability_audit.html
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity, update-readme-stats

test(ci): isolate to transform-only for faster debugging
  .github/workflows/test.yml
Due: none

test(ci): add --max-children=1 to disable mutmut parallelism
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

test(ci): disable smoke tests for faster debugging iteration
  .github/workflows/test.yml
Due: none

test(ci): add signal trap logging to identify SIGTERM source
  .github/workflows/test.yml
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

test(ci): run container WITHOUT systemd to test hypothesis
  .github/workflows/test.yml
Due: none

fix(ci): exclude linux_service tests when running without systemd
  .github/workflows/test.yml
Due: none

ci: add fix/mutation-timeout branch to docker image publish trigger
  .github/workflows/publish-ci-image.yml
Due: none

fix(docker): add RuntimeMaxSec=infinity to prevent systemd from killing long-running processes
  .github/workflows/test.yml
  docker/Dockerfile.ci-runner
Due: none

fix(docker): add build-essential for gcc (tree-sitter dependency)
  docker/Dockerfile.ci-runner
Due: none

fix(docker): add python3-dev for Python.h header
  docker/Dockerfile.ci-runner
Due: none
