Repository wawiesel/wks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-format, check-types, check-complexity, update-readme-stats

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-format
        name: Check Formatting (Ruff)
        entry: scripts/check_format.py
        language: script
        types: [python]

      - id: check-types
        name: Check Types (Mypy)
        entry: scripts/check_types.py
        language: script
        types: [python]
        require_serial: true

      - id: check-complexity
        name: Check Complexity (Lizard)
        entry: scripts/check_complexity.py
        language: script
        types: [python]
        stages: [pre-push]

      - id: pytest
        name: pytest
        entry: .venv/bin/pytest
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      - id: update-readme-stats
        name: Update README Statistics
        entry: scripts/update_readme_stats.py
        language: script
        files: ^README\.md$
        pass_filenames: false
        always_run: false
        stages: [pre-commit]

chore: move tabulate to required dependency in setup.py
  .gitignore
  docker/Dockerfile.ci-runner
  setup.py
Due: check-format, check-types, check-complexity

chore: ignore .ruff_cache and .mypy_cache
  .gitignore
Due: none

fix(build): explicit package discovery to exclude 'docker' directory
  pyproject.toml
Due: none

chore: remove stale scripts (deploy_wks0.sh) and clean up docker shell
  scripts/deploy_wks0.sh
  scripts/docker_shell.sh
Due: none

fix(build): include 'docs' package in distribution
  pyproject.toml
Due: none

chore(test): lower coverage threshold to 40% to unblock CI
  .coveragerc
Due: none

chore(ci): fix formatting and remove redundant mongodb install
  .github/workflows/test.yml
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(ci): restore mongodb installation for compatibility tests
  .github/workflows/test.yml
Due: none

chore(ci): run compatibility tests in parallel for faster feedback
  .github/workflows/test.yml
Due: none

chore(ci): restore dependency on docker-tests (revert parallelization)
  .github/workflows/test.yml
Due: none

refactor(tests): fix imports and formatting for external mongo support
  .github/workflows/test.yml
  tests/integration/test_daemon_monitor_integration.py
  tests/smoke/test_mcp_smoke.py
Due: check-format, check-types, check-complexity

fix(ci): correct free-disk-space action name
  .github/workflows/test.yml
Due: none

fix(tests): resolve pydantic port error and update cli smoke tests for external mongo
  tests/integration/test_daemon_monitor_integration.py
  tests/smoke/test_cli_smoke.py
  tests/smoke/test_mcp_smoke.py
Due: check-format, check-types, check-complexity

docs: finalize cleanup (campaigns, docker docs, readme stats)
  CONTRIBUTING.md
  README.md
  docker/README.md
  docs/campaigns/2025-12-02_test-refactor/index.md
  docs/campaigns/2025-12-03_linting-baseline/index.md
  docs/campaigns/2025-12-03_test-cleanup/index.md
  docs/campaigns/2025-12-04_monitor-typer-migration/index.md
  docs/campaigns/NEXT.md
  docs/campaigns/README.md
  package-lock.json
  package.json
  repomix-linux-service.json
  repomix-linux-service.txt
Due: update-readme-stats

docs: finalize cleanup (campaigns, docker docs, readme stats) (#20)
  CONTRIBUTING.md
  README.md
  docker/README.md
  docs/campaigns/2025-12-02_test-refactor/index.md
  docs/campaigns/2025-12-03_linting-baseline/index.md
  docs/campaigns/2025-12-03_test-cleanup/index.md
  docs/campaigns/2025-12-04_monitor-typer-migration/index.md
  docs/campaigns/NEXT.md
  docs/campaigns/README.md
  package-lock.json
  package.json
  repomix-linux-service.json
  repomix-linux-service.txt
Due: update-readme-stats

fix(docs): repair badge URLs and update readme stats
  README.md
  scripts/update_readme_stats.py
  stats.json
Due: check-format, check-types, check-complexity, update-readme-stats

fix(docs): repair badge URLs and update readme stats (#21)
  README.md
  scripts/update_readme_stats.py
  stats.json
Due: check-format, check-types, check-complexity, update-readme-stats

Update
  docs/specifications/wks.md
  wks/cli/__init__.py
  wks/cli/_get_typer_command_schema.py
  wks/cli/_handle_stage_result.py
  wks/cli/config.py
  wks/cli/daemon.py
  wks/cli/database.py
  wks/cli/mcp.py
  wks/cli/monitor.py
  wks/cli/service.py
  wks/mcp/server.py
Due: check-format, check-types, check-complexity

fix: remove sync_interval_secs and log_file from config schemas and tests
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_darwin_service_install.py
  tests/integration/test_linux_service_install.py
  tests/unit/test_wks_api_service_ServiceConfig.py
  tests/unit/test_wks_api_service_cmd_install.py
  tests/unit/test_wks_api_service_cmd_start.py
  tests/unit/test_wks_api_service_cmd_stop.py
  tests/unit/test_wks_api_service_cmd_uninstall.py
  wks/api/service/ServiceConfig.py
Due: check-format, check-types, check-complexity

docs: remove duplicate database layer entry in wks.md
  docs/specifications/wks.md
Due: none

fix: database config strict schema and standard paths
  tests/integration/test_daemon_monitor_integration.py
  tests/smoke/test_cli_smoke.py
  tests/smoke/test_mcp_smoke.py
  tests/unit/test_wks_api_database_DatabaseConfig.py
  wks/api/database/_mongo/_Data.py
  wks/api/database/_mongo/_Impl.py
Due: check-format, check-types, check-complexity

refactor: centralize mongodb test logic in conftest.py
  tests/conftest.py
  tests/integration/test_daemon_monitor_integration.py
  tests/smoke/test_cli_smoke.py
  tests/smoke/test_mcp_smoke.py
  wks/api/database/_mongo/_Impl.py
Due: check-format, check-types, check-complexity

Update
  docs/specifications/monitor.md
  tests/conftest.py
  wks/api/daemon/Daemon.py
  wks/api/daemon/cmd_run.py
  wks/api/database/_mongo/_Impl.py
  wks/api/monitor/explain_path.py
  wks/api/service/_darwin/_Impl.py
  wks/api/service/_linux/_Impl.py
  wks/api/service/cmd_uninstall.py
  wks/cli/daemon.py
Due: check-format, check-types, check-complexity

Fix CI/CD - Fix types, exports, and lints
  docs/specifications/daemon_output.schema.json
  tests/conftest.py
  tests/integration/test_daemon_monitor_integration.py
  tests/smoke/test_cli_smoke.py
  tests/smoke/test_mcp_smoke.py
  tests/unit/test_wks_api_database_DatabaseConfig.py
  tests/unit/test_wks_api_monitor_explain_path.py
  tests/unit/test_wks_api_service_cmd_status.py
  wks/api/daemon/Daemon.py
  wks/api/daemon/__init__.py
  wks/api/database/_mongo/_Impl.py
  wks/api/monitor/explain_path.py
  wks/api/service/_darwin/_Impl.py
Due: check-format, check-types, check-complexity

fix(daemon): Stabilize daemon process and enhance status reporting
  docs/specifications/daemon_output.schema.json
  tests/unit/test_wks_api_daemon_cmd_clear.py
  tests/unit/test_wks_api_daemon_cmd_status.py
  wks/api/daemon/Daemon.py
  wks/api/daemon/__init__.py
  wks/api/daemon/_read_status_file.py
  wks/api/daemon/cmd_clear.py
  wks/api/daemon/cmd_status.py
  wks/api/monitor/cmd_sync.py
  wks/cli/daemon.py
Due: check-format, check-types, check-complexity

refactor(daemon): Consolidate 'run' into 'start --blocking'
  tests/unit/test_wks_api_daemon_cmd_start.py
  wks/api/daemon/__init__.py
  wks/api/daemon/cmd_run.py
  wks/api/daemon/cmd_start.py
  wks/api/monitor/cmd_sync.py
  wks/api/service/_darwin/_Impl.py
  wks/api/service/_linux/_Impl.py
  wks/cli/daemon.py
Due: check-format, check-types, check-complexity

refactor: flatten monitor.sync config, update vault spec
  docs/campaigns/NEXT.md
  docs/specifications/vault.md
  pyproject.toml
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_darwin_service_install.py
  tests/integration/test_linux_service_install.py
  tests/unit/test_wks_api_monitor_cmd_priority_add.py
  tests/unit/test_wks_api_monitor_cmd_priority_show.py
  tests/unit/test_wks_api_monitor_explain_path.py
  tests/unit/test_wks_api_monitor_matches_glob.py
  wks/api/monitor/MonitorConfig.py
  wks/api/monitor/_SyncConfig.py
  wks/api/monitor/cmd_sync.py
Due: check-format, check-types, check-complexity

refactor: flatten monitor.sync config, update vault spec (#23)
  docs/campaigns/NEXT.md
  docs/specifications/vault.md
  pyproject.toml
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_darwin_service_install.py
  tests/integration/test_linux_service_install.py
  tests/unit/test_wks_api_monitor_cmd_priority_add.py
  tests/unit/test_wks_api_monitor_cmd_priority_show.py
  tests/unit/test_wks_api_monitor_explain_path.py
  tests/unit/test_wks_api_monitor_matches_glob.py
  wks/api/monitor/MonitorConfig.py
  wks/api/monitor/_SyncConfig.py
  wks/api/monitor/cmd_sync.py
Due: check-format, check-types, check-complexity

refactor(vault): decouple obsidian implementation, simplify config
  tests/conftest.py
  tests/unit/test_wks_api_vault_factory.py
  wks/api/config/WKSConfig.py
  wks/api/vault/_AbstractVault.py
  wks/api/vault/__init__.py
  wks/api/vault/config.py
  wks/api/vault/controller.py
  wks/api/vault/indexer.py
  wks/api/vault/obsidian.py
Due: check-format, check-types, check-complexity

feat(vault): implement domain standards compliance
  docs/specifications/vault_output.schema.json
  wks/api/vault/__init__.py
  wks/api/vault/cmd_check.py
  wks/api/vault/cmd_links.py
  wks/api/vault/cmd_status.py
  wks/api/vault/cmd_sync.py
  wks/api/vault/obsidian.py
  wks/api/vault/status_controller.py
  wks/cli/__init__.py
  wks/cli/vault.py
Due: check-format, check-types, check-complexity

refactor(vault): restructure to follow UMP/UNO patterns
  wks/api/config/WKSConfig.py
  wks/api/vault/VaultConfig.py
  wks/api/vault/__init__.py
  wks/api/vault/_constants.py
  wks/api/vault/_obsidian/_Data.py
  wks/api/vault/_obsidian/_Impl.py
  wks/api/vault/_obsidian/_Indexer.py
  wks/api/vault/_obsidian/_LinkResolver.py
  wks/api/vault/_obsidian/_MarkdownParser.py
  wks/api/vault/_obsidian/_Scanner.py
  wks/api/vault/_obsidian/__init__.py
  wks/api/vault/cmd_check.py
  wks/api/vault/cmd_links.py
  wks/api/vault/cmd_status.py
  wks/api/vault/cmd_sync.py
  wks/api/vault/controller.py
  wks/api/vault/git_hooks/__init__.py
  wks/api/vault/git_hooks/pre-commit
  wks/api/vault/git_watcher.py
  wks/api/vault/indexer.py
Due: check-format, check-types, check-complexity

refactor(vault): use Database abstraction for sync
  wks/api/vault/_obsidian/_Indexer.py
  wks/api/vault/cmd_sync.py
Due: check-format, check-types, check-complexity

refactor(vault): align with domain patterns and add unit tests
  tests/unit/test_wks_api_vault_cmd_check.py
  tests/unit/test_wks_api_vault_cmd_status.py
  tests/unit/test_wks_api_vault_cmd_sync.py
  tests/unit/test_wks_api_vault_factory.py
  wks/api/vault/__init__.py
  wks/api/vault/_constants.py
  wks/api/vault/_obsidian/_LinkResolver.py
  wks/api/vault/cmd_links.py
  wks/api/vault/cmd_status.py
Due: check-format, check-types, check-complexity

Refactor Vault to use Facade pattern (Final)
  docs/campaigns/NEXT.md
  docs/specifications/monitor_output.schema.json
  docs/specifications/vault_output.schema.json
  docs/specifications/wks.md
  pytest.ini
  tests/conftest.py
  tests/unit/test_wks_api_vault_cmd_check.py
  tests/unit/test_wks_api_vault_cmd_links.py
  tests/unit/test_wks_api_vault_cmd_status.py
  tests/unit/test_wks_api_vault_cmd_sync.py
  tests/unit/test_wks_api_vault_scanner_errors.py
  wks/api/daemon/Daemon.py
  wks/api/monitor/MonitorConfig.py
  wks/api/monitor/_write_status_file.py
  wks/api/monitor/cmd_status.py
  wks/api/monitor/cmd_sync.py
  wks/api/vault/README.md
  wks/api/vault/Vault.py
  wks/api/vault/VaultConfig.py
  wks/api/vault/_AbstractImpl.py
  wks/api/vault/_AbstractVault.py
  wks/api/vault/_constants.py
  wks/api/vault/_obsidian/_Impl.py
  wks/api/vault/_obsidian/_LinkResolver.py
  wks/api/vault/_obsidian/_MarkdownParser.py
  wks/api/vault/_obsidian/_Scanner.py
  wks/api/vault/_write_status_file.py
  wks/api/vault/cmd_check.py
  wks/api/vault/cmd_links.py
  wks/api/vault/cmd_status.py
  wks/api/vault/cmd_sync.py
Due: check-format, check-types, check-complexity

Fix Mypy yaml types
  wks/cli/display.py
Due: check-format, check-types, check-complexity

Format tests
  tests/integration/test_daemon_monitor_integration.py
  tests/unit/test_wks_api_config_WKSConfig.py
  tests/unit/test_wks_api_monitor_cmd_priority_add.py
  tests/unit/test_wks_api_monitor_cmd_priority_show.py
  tests/unit/test_wks_api_monitor_explain_path.py
  tests/unit/test_wks_api_monitor_matches_glob.py
Due: check-format, check-types, check-complexity

Fix service install tests
  .github/workflows/test.yml
  pytest.ini
  tests/integration/test_darwin_service_install.py
  tests/integration/test_linux_service_install.py
  tests/smoke/test_cli_smoke.py
  tests/unit/test_wks_api_database_Database.py
  tests/unit/test_wks_api_vault_scanner_errors.py
  wks/api/database/Database.py
  wks/api/database/_AbstractBackend.py
  wks/api/database/_mongo/_Backend.py
  wks/api/database/_mongomock/_Backend.py
  wks/api/monitor/_write_status_file.py
  wks/api/monitor/cmd_status.py
  wks/api/monitor/cmd_sync.py
  wks/api/utils/__init__.py
  wks/api/utils/_write_status_file.py
  wks/api/vault/README.md
  wks/api/vault/Vault.py
  wks/api/vault/_AbstractBackend.py
  wks/api/vault/_obsidian/_Backend.py
  wks/api/vault/_obsidian/_Data.py
  wks/api/vault/_obsidian/_MarkdownParser.py
  wks/api/vault/_obsidian/_Scanner.py
  wks/api/vault/cmd_check.py
  wks/api/vault/cmd_status.py
  wks/api/vault/cmd_sync.py
Due: check-format, check-types, check-complexity
