Repository wawiesel/wks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-format, check-types, check-complexity, update-readme-stats

check-format:
  name: Check Formatting (Ruff)
  entry: scripts/check_format.py
  language: script

check-types:
  name: Check Types (Mypy)
  entry: scripts/check_types.py
  language: script
  require_serial: true

check-complexity:
  name: Check Complexity (Lizard)
  entry: scripts/check_complexity.py
  language: script
  stages:
  - pre-push

update-readme-stats:
  name: Update README Statistics
  entry: scripts/update_readme_stats.py
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

fix(transform): rename cmd_transform to cmd_engine to match file name (UNO)
  tests/unit/test_wks_api_transform_cmd_engine.py
  wks/api/transform/cmd_engine.py
  wks/cli/cat.py
  wks/cli/transform.py
Due: check-format, check-types, check-complexity

fix(transform): update remaining tests to use cmd_engine
  tests/unit/test_wks_api_cat_cmd.py
  tests/unit/test_wks_api_transform_get_content.py
Due: check-format, check-types, check-complexity

Resolve remaining UNO violations and test refactoring
  tests/unit/test_wks_api_link_cmd_sync.py
  tests/unit/test_wks_api_link_parsers.py
  tests/unit/test_wks_api_monitor__enforce_monitor_db_limit.py
  tests/unit/test_wks_api_monitor_cmd_sync.py
  tests/unit/test_wks_api_vault__obsidian__Scanner.py
  tests/unit/test_wks_api_vault_cmd_check.py
  wks/api/monitor/_enforce_monitor_db_limit.py
Due: check-format, check-types, check-complexity

Refactor cat CLI to move business logic to API
  tests/unit/test_wks_api_cat_cmd.py
  wks/api/cat/_helpers.py
  wks/api/cat/cmd.py
  wks/cli/cat.py
Due: check-format, check-types, check-complexity

Refactor cat command for full UNO compliance
  wks/api/cat/_get_mime_type.py
  wks/api/cat/_is_checksum.py
  wks/api/cat/_select_engine.py
  wks/api/cat/cmd.py
  wks/cli/_run_cat.py
  wks/cli/cat.py
Due: check-format, check-types, check-complexity

Rename handle_stage_result to _handle_stage_result for UNO/UMP compliance
  docs/specifications/transform_output.schema.json
  tests/unit/test_wks_api_transform_meta_cmds.py
  wks/api/transform/__init__.py
  wks/api/transform/cmd_info.py
  wks/api/transform/cmd_list.py
  wks/cli/_handle_stage_result.py
  wks/cli/_parse_overrides.py
  wks/cli/_run_cat.py
  wks/cli/_run_single_execution.py
  wks/cli/cat.py
  wks/cli/config.py
  wks/cli/daemon.py
  wks/cli/database.py
  wks/cli/link.py
  wks/cli/log.py
  wks/cli/mcp.py
  wks/cli/monitor.py
  wks/cli/service.py
  wks/cli/transform.py
  wks/cli/vault.py
Due: check-format, check-types, check-complexity

Fix UNO violation in transform hooks by renaming to _post_reset.py
  wks/api/database/cmd_reset.py
  wks/api/transform/_post_reset.py
Due: check-format, check-types, check-complexity

Standardize transform hooks to post_reset.py and post_reset() for UNO compliance
  wks/api/database/cmd_reset.py
  wks/api/transform/post_reset.py
Due: check-format, check-types, check-complexity

Inline clear_cache logic into post_reset.py and remove redundant file
  wks/api/transform/_clear_cache.py
  wks/api/transform/post_reset.py
Due: check-format, check-types, check-complexity

Split transform meta tests into separate files to strictly follow 1-to-1 naming convention
  tests/unit/test_wks_api_database_cmd_prune.py
  tests/unit/test_wks_api_database_utils.py
  tests/unit/test_wks_api_transform_cmd_info.py
  tests/unit/test_wks_api_transform_cmd_list.py
Due: check-format, check-types, check-complexity

Exclude .cursor/rules from ruff
  docs/specifications/transform_output.schema.json
  pyproject.toml
Due: none

Fix database tests by mocking MongoClient to avoid real network calls
  tests/unit/test_wks_api_database_Database.py
Due: check-format, check-types, check-complexity

Revert "Fix database tests by mocking MongoClient to avoid real network calls"
  tests/unit/test_wks_api_database_Database.py
Due: check-format, check-types, check-complexity

Update
  tests/unit/test_wks_api_database_Database.py
  tests/unit/test_wks_api_vault_cmd_sync.py
Due: check-format, check-types, check-complexity

Exclude heavy modules from mutation testing to save CI resources
  setup.cfg
Due: none

docs: update README CLI reference with current commands
  README.md
Due: update-readme-stats

docs: update README statistics with fresh coverage and test data
  README.md
  stats.json
Due: update-readme-stats

docs: update README CLI reference with current commands (#39)
  README.md
  stats.json
Due: update-readme-stats

ci: fail PRs with stale README statistics
  .github/workflows/test.yml
Due: none

fix: generate stats.json inside Docker where mutmut is available
  .github/workflows/test.yml
Due: none

fix: regenerate stats.json from current run, not stale data
  .github/workflows/test.yml
Due: none

chore: update statistics
  README.md
  stats.json
Due: update-readme-stats

ci: auto-commit stats on PRs instead of failing
  .github/workflows/test.yml
Due: none

ci: fail PRs with stale README statistics (#40)
  .github/workflows/test.yml
  README.md
  stats.json
Due: update-readme-stats

feat: add traceability workflow and audit report
  .github/workflows/test.yml
  .gitmodules
  docs/README.md
  docs/specifications/requirements/mon/MON-001.yml
  docs/specifications/requirements/mon/MON-002.yml
  docs/specifications/requirements/mon/MON-003.yml
  docs/specifications/requirements/mon/MON-004.yml
  docs/specifications/requirements/mon/MON-005.yml
  docs/specifications/requirements/mon/MON-006.yml
  docs/specifications/requirements/mon/MON-007.yml
  docs/traceability/traceability_audit.html
  scripts/README.md
  scripts/update_traceability_audit.py
  tests/README.md
  tests/api/TST-001.yml
  tests/api/TST-002.yml
  tests/api/TST-003.yml
  tests/api/TST-004.yml
  tests/api/TST-005.yml
  tests/api/TST-006.yml
  tests/api/TST-007.yml
Due: check-format, check-types, check-complexity

chore: infrastructure and coverage updates
  .github/workflows/publish-ci-image.yml
  .github/workflows/test.yml
  README.md
  docker/Dockerfile.ci-runner
  scripts/check_docker_image.sh
  scripts/ci_cleanup_disk.sh
  scripts/disk_avail.sh
  scripts/test_mutation_api.py
  scripts/update_readme_stats.py
  setup.cfg
  stats.json
  tests/unit/test_wks_api_log_read_log_entries.py
  tests/unit/test_wks_utils_has_internet.py
Due: check-format, check-types, check-complexity, update-readme-stats

test: add schema conformance test for transform error output
  tests/unit/test_wks_api_transform_cmd_engine.py
Due: check-format, check-types, check-complexity

fix: use TransformEngineOutput schema for all output paths
  docs/specifications/transform_output.schema.json
  wks/api/transform/cmd_engine.py
Due: check-format, check-types, check-complexity

fix(mutation): fix mypy shadowing error
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(mutation): ensure mutants dir exists before streaming logs
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

feat(mutation): add disk usage diagnostics after each domain
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

refactor(mutation): simplify to always use PTY, remove --progress flag
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(mutation): clear pytest temp dirs between domains to prevent disk exhaustion
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(mutation): flush stdout to fix output ordering
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(mutation): add post-domain pytest temp cleanup
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

feat(mutation): add granular /tmp breakdown to identify disk consumers
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(mutation): isolate TMPDIR to workspace and synchronize byte-level logging
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(mutation): use --basetemp to force pytest directory reuse and cap disk usage
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(ci): enforce --basetemp via PYTEST_ADDOPTS to cap disk usage
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

Path conditions:
  check-format: any of: \.py$
  check-types: any of: \.py$
  check-complexity: any of: \.py$
  update-readme-stats: any of: ^README\.md$
