Repository wawiesel/wks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-format, check-types, check-complexity, update-readme-stats

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-format
        name: Check Formatting (Ruff)
        entry: scripts/check_format.py
        language: script
        types: [python]

      - id: check-types
        name: Check Types (Mypy)
        entry: scripts/check_types.py
        language: script
        types: [python]
        require_serial: true

      - id: check-complexity
        name: Check Complexity (Lizard)
        entry: scripts/check_complexity.py
        language: script
        types: [python]
        stages: [pre-push]

      - id: pytest
        name: pytest
        entry: .venv/bin/pytest
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      - id: update-readme-stats
        name: Update README Statistics
        entry: scripts/update_readme_stats.py
        language: script
        files: ^README\.md$
        pass_filenames: false
        always_run: false
        stages: [pre-commit]

test(integration): use real service commands
  tests/integration/test_darwin_service_install.py
Due: check-format, check-types, check-complexity

refactor(service): use ServiceStatus DTO to fix NoHedging (#47)
  README.md
  stats.json
  tests/integration/test_darwin_service_install.py
  tests/integration/test_linux_service_install.py
  tests/unit/test_wks_api_service_cmd_start.py
  tests/unit/test_wks_api_service_cmd_status.py
  tests/unit/test_wks_api_service_cmd_stop.py
  wks/api/service/Service.py
  wks/api/service/ServiceStatus.py
  wks/api/service/_AbstractImpl.py
  wks/api/service/_darwin/_Impl.py
  wks/api/service/_linux/_Impl.py
  wks/api/service/cmd_start.py
  wks/api/service/cmd_status.py
  wks/api/service/cmd_stop.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix(service): verify PID before setting running status
  wks/api/service/_darwin/_Impl.py
Due: check-format, check-types, check-complexity

fix(link): resolve file paths to URIs in 'wksc link show'
  tests/unit/test_wks_api_link_cmd_show.py
  wks/api/link/cmd_show.py
Due: check-format, check-types, check-complexity

feat(link): enforce strict URI types in API and add path resolution to CLI
  tests/unit/test_wks_api_link_cmd_show.py
  tests/unit/test_wks_cli_link.py
  wks/api/link/cmd_show.py
  wks/api/types/URI.py
  wks/cli/link.py
Due: check-format, check-types, check-complexity

refactor(link): use URI.from_path and strict typing in API
  wks/api/types/URI.py
  wks/cli/link.py
Due: check-format, check-types, check-complexity

refactor(test): move CLI tests to smoke and refactor fixtures
  tests/conftest.py
  tests/smoke/test_wks_cli_link.py
  tests/unit/conftest.py
Due: check-format, check-types, check-complexity

docs(tests): update testing strategy to reflect smoke/unit split
  tests/README.md
Due: none

docs(test): update testing strategy and rename smoke tests
  tests/README.md
  tests/integration/README.md
  tests/integration/test_wks_cli_link.py
  tests/smoke/README.md
  tests/smoke/test_wksc_mcp.py
  tests/smoke/test_wksc_smoke.py
Due: check-format, check-types, check-complexity

chore(test): split smoke tests by domain and unify fixtures
  tests/smoke/conftest.py
  tests/smoke/test_wksc_config.py
  tests/smoke/test_wksc_mcp.py
  tests/smoke/test_wksc_monitor.py
  tests/smoke/test_wksc_smoke.py
  tests/smoke/test_wksc_transform.py
  tests/smoke/test_wksc_vault.py
Due: check-format, check-types, check-complexity

docs: update NEXT.md with URI refactor tasks
  docs/campaigns/NEXT.md
Due: none

refactor: enforce strict URI type usage in link API and CLI
  tests/integration/test_wks_cli_link.py
  tests/unit/test_wks_api_link_cmd_check.py
  tests/unit/test_wks_api_link_cmd_sync.py
  wks/api/link/cmd_check.py
  wks/api/link/cmd_sync.py
  wks/api/types/URI.py
  wks/api/vault/cmd_sync.py
  wks/cli/link.py
Due: check-format, check-types, check-complexity

docs: document Strong URI usage in Link API
  wks/api/link/README.md
Due: none

fix: ensure structured output on non-file URI errors to avoid crashes
  tests/unit/test_wks_api_link_cmd_check.py
  tests/unit/test_wks_api_link_cmd_sync.py
  wks/api/link/cmd_check.py
  wks/api/link/cmd_sync.py
Due: check-format, check-types, check-complexity

address PR feedback: move URI to wks/api/URI.py, use Direction enum, and clean up CLI logic with private resolver
  tests/unit/test_wks_api_link_cmd_check.py
  tests/unit/test_wks_api_link_cmd_show.py
  tests/unit/test_wks_api_link_cmd_sync.py
  wks/api/URI.py
  wks/api/link/README.md
  wks/api/link/cmd_check.py
  wks/api/link/cmd_show.py
  wks/api/link/cmd_sync.py
  wks/api/vault/cmd_sync.py
  wks/cli/_resolve_uri_arg.py
  wks/cli/link.py
Due: check-format, check-types, check-complexity

perfection: migrate all link, monitor, and transform internal URI handling to wks.api.URI.URI (re-fix lint)
  tests/unit/test_wks_api_link_prune.py
  tests/unit/test_wks_api_monitor_prune.py
  wks/api/link/_sync_single_file.py
  wks/api/link/cmd_check.py
  wks/api/link/prune.py
  wks/api/monitor/cmd_sync.py
  wks/api/monitor/prune.py
  wks/api/transform/_CacheManager.py
  wks/api/transform/_TransformController.py
  wks/api/transform/_TransformRecord.py
  wks/api/transform/_docling/_DoclingEngine.py
  wks/api/transform/cmd_engine.py
  wks/api/transform/prune.py
  wks/api/vault/_obsidian/_Backend.py
  wks/api/vault/_obsidian/_Scanner.py
Due: check-format, check-types, check-complexity

refactor: eliminate URI validation boilerplate in link API (format fix)
  tests/unit/test_wks_api_link_cmd_check.py
  wks/api/link/_ensure_file_uri.py
  wks/api/link/cmd_check.py
  wks/api/link/cmd_sync.py
Due: check-format, check-types, check-complexity

refactor: address boilerplate concerns with _ensure_file_uri helper
  tests/integration/test_wks_cli_link.py
Due: check-format, check-types, check-complexity

refactor: standardize URI handling at system boundary
  tests/integration/test_daemon_monitor_integration.py
  tests/integration/test_wks_cli_link.py
  tests/unit/test_wks_api_cat_cmd.py
  tests/unit/test_wks_api_link_cmd_check.py
  tests/unit/test_wks_api_link_cmd_sync.py
  tests/unit/test_wks_api_monitor_cmd_check.py
  tests/unit/test_wks_api_monitor_cmd_sync.py
  tests/unit/test_wks_api_transform_cmd_engine.py
  tests/unit/test_wks_api_transform_get_content.py
  tests/unit/test_wks_api_vault_cmd_check.py
  tests/unit/test_wks_api_vault_cmd_links.py
  tests/unit/test_wks_api_vault_cmd_sync.py
  wks/api/URI.py
  wks/api/_ensure_arg_uri.py
  wks/api/cat/cmd.py
  wks/api/daemon/_sync_path_static.py
  wks/api/link/_ensure_file_uri.py
  wks/api/link/_sync_single_file.py
  wks/api/link/cmd_check.py
  wks/api/link/cmd_sync.py
  wks/api/monitor/cmd_check.py
  wks/api/monitor/cmd_sync.py
  wks/api/transform/cmd_engine.py
  wks/api/vault/cmd_check.py
  wks/api/vault/cmd_links.py
  wks/api/vault/cmd_sync.py
  wks/cli/monitor.py
  wks/cli/transform.py
  wks/cli/vault.py
  wks/mcp/server.py
Due: check-format, check-types, check-complexity

docs: mark URI refactor tasks as complete
  docs/campaigns/NEXT.md
Due: none

style: remove specific line number references from tests (Pinocchio rule)
  tests/unit/test_wks_api_link_cmd_check.py
Due: check-format, check-types, check-complexity

refactor: separate stat generation into independent scripts
  .github/workflows/test.yml
  scripts/aggregate_mutation_stats.py
  scripts/generate_ci_stats.py
  scripts/generate_coverage_stats.py
  scripts/generate_loc_stats.py
  scripts/stats_lib.py
  scripts/update_readme_stats.py
Due: check-format, check-types, check-complexity

chore: add qa/metrics json files and update scripts
  .github/workflows/test.yml
  qa/metrics/ci.json
  qa/metrics/complexity.json
  qa/metrics/coverage.json
  qa/metrics/loc.json
  qa/metrics/mutations.json
  scripts/check_complexity.py
  scripts/test_mutation_api.py
  scripts/update_readme_stats.py
  stats.json
Due: check-format, check-types, check-complexity

refactor: rename loc.json to tokens.json
  .github/workflows/test.yml
  scripts/generate_token_stats.py
  scripts/update_readme_stats.py
Due: check-format, check-types, check-complexity

chore: update stats and remove legacy metric file
  .pre-commit-config.yaml
  README.md
  qa/metrics/tokens.json
Due: update-readme-stats

chore(rules): drop SpecsFirst submodule
  .gitmodules
Due: none

feat: add traceability workflow and audit report
  .github/workflows/test.yml
  .gitmodules
  docs/README.md
  docs/specifications/requirements/mon/MON-001.yml
  docs/specifications/requirements/mon/MON-002.yml
  docs/specifications/requirements/mon/MON-003.yml
  docs/specifications/requirements/mon/MON-004.yml
  docs/specifications/requirements/mon/MON-005.yml
  docs/specifications/requirements/mon/MON-006.yml
  docs/specifications/requirements/mon/MON-007.yml
  docs/traceability/traceability_audit.html
  scripts/README.md
  scripts/update_traceability_audit.py
  tests/README.md
  tests/api/TST-001.yml
  tests/api/TST-002.yml
  tests/api/TST-003.yml
  tests/api/TST-004.yml
  tests/api/TST-005.yml
  tests/api/TST-006.yml
  tests/api/TST-007.yml
Due: check-format, check-types, check-complexity

feat(traceability): embed HODOR test metadata
  docs/traceability/traceability_audit.html
  scripts/README.md
  scripts/update_traceability_audit.py
  tests/README.md
  tests/api/TST-001.yml
  tests/api/TST-002.yml
  tests/api/TST-003.yml
  tests/api/TST-004.yml
  tests/api/TST-005.yml
  tests/api/TST-006.yml
  tests/api/TST-007.yml
  tests/unit/test_wks_api_monitor_MonitorConfig.py
  tests/unit/test_wks_api_monitor_cmd_check.py
  tests/unit/test_wks_api_monitor_cmd_filter_add.py
  tests/unit/test_wks_api_monitor_cmd_filter_remove.py
  tests/unit/test_wks_api_monitor_cmd_filter_show.py
  tests/unit/test_wks_api_monitor_cmd_priority_add.py
  tests/unit/test_wks_api_monitor_cmd_priority_remove.py
  tests/unit/test_wks_api_monitor_cmd_priority_show.py
  tests/unit/test_wks_api_monitor_cmd_status.py
  tests/unit/test_wks_api_monitor_cmd_sync.py
Due: check-format, check-types, check-complexity

chore(traceability): regenerate audit report
  docs/traceability/traceability_audit.html
Due: none

chore(traceability): refresh audit report
  docs/traceability/traceability_audit.html
Due: none

feat(traceability): link tests via docstrings
  scripts/README.md
  scripts/update_traceability_audit.py
  tests/README.md
  tests/unit/test_wks_api_monitor_MonitorConfig.py
  tests/unit/test_wks_api_monitor_cmd_check.py
  tests/unit/test_wks_api_monitor_cmd_filter_add.py
  tests/unit/test_wks_api_monitor_cmd_filter_remove.py
  tests/unit/test_wks_api_monitor_cmd_filter_show.py
  tests/unit/test_wks_api_monitor_cmd_priority_add.py
  tests/unit/test_wks_api_monitor_cmd_priority_remove.py
  tests/unit/test_wks_api_monitor_cmd_priority_show.py
  tests/unit/test_wks_api_monitor_cmd_status.py
  tests/unit/test_wks_api_monitor_cmd_sync.py
Due: check-format, check-types, check-complexity

docs(agents): document gh review lookup
  AGENTS.md
Due: none

chore: fix ruff annotations
  scripts/update_readme_stats.py
Due: check-format, check-types, check-complexity

fix(traceability): align reqs and metrics
  README.md
  docs/traceability/traceability_audit.html
  qa/metrics/complexity.json
  qa/metrics/coverage.json
  qa/metrics/loc.json
  qa/metrics/mutations.json
  qa/metrics/traceability.json
  qa/reqs/mon/MON-001.yml
  qa/reqs/mon/MON-002.yml
  qa/reqs/mon/MON-003.yml
  qa/reqs/mon/MON-004.yml
  qa/reqs/mon/MON-005.yml
  qa/reqs/mon/MON-006.yml
  qa/reqs/mon/MON-007.yml
  qa/reqs/mon/MON-008.yml
  scripts/update_readme_stats.py
  scripts/update_traceability_audit.py
  tests/README.md
  tests/unit/test_wks_api_monitor_MonitorConfig.py
  tests/unit/test_wks_api_monitor_cmd_check.py
  tests/unit/test_wks_api_monitor_cmd_filter_add.py
  tests/unit/test_wks_api_monitor_cmd_filter_remove.py
  tests/unit/test_wks_api_monitor_cmd_filter_show.py
  tests/unit/test_wks_api_monitor_cmd_priority_add.py
  tests/unit/test_wks_api_monitor_cmd_priority_remove.py
  tests/unit/test_wks_api_monitor_cmd_priority_show.py
  tests/unit/test_wks_api_monitor_cmd_status.py
  tests/unit/test_wks_api_monitor_cmd_sync.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix(metrics): nest loc paths by section
  README.md
  qa/metrics/coverage.json
  qa/metrics/loc.json
  qa/metrics/mutations.json
  scripts/update_readme_stats.py
Due: check-format, check-types, check-complexity, update-readme-stats

style(stats): apply ruff format
  scripts/update_readme_stats.py
Due: check-format, check-types, check-complexity

fix(stats): reformat stats_lib.py
  .github/workflows/test.yml
  README.md
  qa/metrics/coverage.json
  qa/metrics/loc.json
  qa/metrics/mutations.json
  qa/metrics/tokens.json
  scripts/stats_lib.py
  scripts/update_readme_stats.py
Due: check-format, check-types, check-complexity, update-readme-stats
