Repository wawiesel/wks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-format, check-types, check-complexity, update-readme-stats

check-format:
  name: Check Formatting (Ruff)
  entry: scripts/check_format.py
  language: script

check-types:
  name: Check Types (Mypy)
  entry: scripts/check_types.py
  language: script
  require_serial: true

check-complexity:
  name: Check Complexity (Lizard)
  entry: scripts/check_complexity.py
  language: script
  stages:
  - pre-push

update-readme-stats:
  name: Update README Statistics
  entry: scripts/update_readme_stats.py
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

test(ci): run transform FIRST to test if issue is transform-specific vs runtime
  .github/workflows/test.yml
Due: none

debug(ci): add resource monitoring to track what accumulates before SIGTERM
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(transform): add recursion depth limit to _node_to_sexp
  wks/api/transform/_treesitter/_TreeSitterEngine.py
Due: check-format, check-types, check-complexity

debug(ci): remove log throttling to see every mutation line
  .github/workflows/test.yml
Due: none

test(ci): run mutation tests WITHOUT systemd
  .github/workflows/test.yml
Due: none

fix(ci): exclude linux_service test when running without systemd
  .github/workflows/test.yml
Due: none

debug(ci): add journalctl logging to capture systemd activity
  .github/workflows/test.yml
Due: none

debug(ci): track memory per mutation to find OOM pattern
  .github/workflows/test.yml
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

debug(ci): simplify log_interval=0 vs None
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

Update
  docs/investigations/mutation-oom-issue.md
Due: none

fix(ci): measure cgroup memory instead of host memory for OOM debugging
  docs/investigations/mutation-oom-issue.md
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(ci): discover cgroup path from /proc/self/cgroup for accurate memory readings
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix(ci): monitor mutmut worker RSS directly for OOM debugging
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

docs: update investigation with Steps 10-11 and system mental model
  docs/investigations/mutation-oom-issue.md
Due: none

ci: add background memory monitor (1s sampling) during mutation tests
  .github/workflows/test.yml
Due: none

fix(ci): use docker exec -d for proper background memory monitoring
  .github/workflows/test.yml
Due: none

fix(transform): add max_iterations limit to prevent infinite loops from mutations
  wks/api/transform/_TransformController.py
  wks/api/transform/cmd_engine.py
Due: check-format, check-types, check-complexity

chore(ci): restore all domain mutation tests with memory monitoring
  .github/workflows/test.yml
  docs/investigations/mutation-oom-issue.md
Due: none

fix: address code review - shared constant and proper edge case handling
  scripts/test_mutation_api.py
  wks/api/transform/_TransformController.py
  wks/api/transform/__init__.py
  wks/api/transform/cmd_engine.py
Due: check-format, check-types, check-complexity

chore: address PR review - remove debug branches, make memory monitor optional, delete investigation doc
  .github/workflows/publish-ci-image.yml
  .github/workflows/test.yml
  docs/investigations/mutation-oom-issue.md
Due: none

refactor: extract memory monitor to separate script
  .github/workflows/test.yml
  scripts/debug_memory_monitor.sh
Due: none

chore: update outdated investigation comment
  .github/workflows/test.yml
Due: none

fix(transform): prevent mutation-induced OOM via max_iterations limit (#59)
  .github/workflows/publish-ci-image.yml
  .github/workflows/test.yml
  NEXT.md
  README.md
  docker/Dockerfile.ci-runner
  qa/metrics/ci.json
  qa/metrics/coverage.json
  qa/metrics/mutations.json
  qa/metrics/tokens.json
  qa/metrics/traceability.json
  qa/reqs/diff/WKS-DIFF-001.yml
  qa/reqs/diff/WKS-DIFF-002.yml
  qa/reqs/diff/WKS-DIFF-003.yml
  qa/reqs/diff/WKS-DIFF-004.yml
  qa/reqs/diff/WKS-DIFF-005.yml
  qa/specs/diff.md
  qa/traceability_audit.html
  scripts/debug_memory_monitor.sh
  scripts/test_mutation_api.py
  wks/api/diff/controller.py
  wks/api/diff/get_engine.py
  wks/api/transform/_TransformController.py
  wks/api/transform/__init__.py
  wks/api/transform/_treesitter/_TreeSitterEngine.py
  wks/api/transform/cmd_engine.py
Due: check-format, check-types, check-complexity, update-readme-stats

docs: add Transform and Diff sections to CLI walkthrough
  NEXT.md
  docs/tutorials/01-walkthrough/walkthrough.md
Due: none

fix: handle error case in transform cmd_info and CLI printer
  wks/api/transform/cmd_info.py
  wks/cli/transform.py
Due: check-format, check-types, check-complexity

docs: update NEXT.md with walkthrough progress and known issues
  NEXT.md
Due: none

Update
  NEXT.md
  scripts/diagnose_transform_memory.py
Due: check-format, check-types, check-complexity

chore: delete debugging script, reorder NEXT.md priorities
  scripts/diagnose_transform_memory.py
Due: check-format, check-types, check-complexity

fix: correct transform list command and ast diff example in walkthrough
  docs/tutorials/01-walkthrough/walkthrough.md
Due: none

docs: mark transform dx bug as fixed
  NEXT.md
Due: none

fix: skip directories when processing transform image artifacts
  wks/api/transform/_docling/_DoclingEngine.py
Due: check-format, check-types, check-complexity

fix: resolve relative paths to full file:// URIs in link check
  tests/unit/test_wks_api_link_cmd_check.py
  wks/api/link/cmd_check.py
Due: check-format, check-types, check-complexity

fix: report actual parser name in link check output
  wks/api/link/_parsers/_BaseParser.py
  wks/api/link/_parsers/__init__.py
  wks/api/link/cmd_check.py
Due: check-format, check-types, check-complexity

docs: mark tutorial walkthrough as complete in NEXT.md
  NEXT.md
Due: none

fix(docs): correct diff walkthrough to use actual sexp engine
  docs/tutorials/01-walkthrough/walkthrough.md
Due: none

docs: add Transform and Diff sections to CLI walkthrough (#60)
  NEXT.md
  README.md
  docs/tutorials/01-walkthrough/walkthrough.md
  qa/metrics/coverage.json
  qa/metrics/mutations.json
  qa/metrics/tokens.json
  qa/traceability_audit.html
  tests/unit/test_wks_api_link_cmd_check.py
  wks/api/link/_parsers/_BaseParser.py
  wks/api/link/_parsers/__init__.py
  wks/api/link/cmd_check.py
  wks/api/transform/_docling/_DoclingEngine.py
  wks/api/transform/cmd_info.py
  wks/cli/transform.py
Due: check-format, check-types, check-complexity, update-readme-stats

refactor(diff): call API directly instead of MCP
  wks/cli/diff.py
Due: check-format, check-types, check-complexity

test: add coverage for transform engines, auto-engine, and diff auto mode
  tests/unit/test_wks_api_diff_cmd_diff.py
  tests/unit/test_wks_api_transform_auto_engine.py
  tests/unit/test_wks_api_transform_binarypass.py
  tests/unit/test_wks_api_transform_textpass.py
  tests/unit/test_wks_api_transform_treesitter.py
Due: check-format, check-types, check-complexity

refactor(diff): call API directly instead of MCP (#61)
  README.md
  qa/metrics/coverage.json
  qa/metrics/tokens.json
  qa/traceability_audit.html
  wks/cli/diff.py
Due: check-format, check-types, check-complexity, update-readme-stats

test: add coverage for transform engines, auto-engine, and diff auto mode (#62)
  tests/unit/test_wks_api_diff_cmd_diff.py
  tests/unit/test_wks_api_transform_auto_engine.py
  tests/unit/test_wks_api_transform_binarypass.py
  tests/unit/test_wks_api_transform_textpass.py
  tests/unit/test_wks_api_transform_treesitter.py
Due: check-format, check-types, check-complexity

Path conditions:
  check-format: any of: \.py$
  check-types: any of: \.py$
  check-complexity: any of: \.py$
  update-readme-stats: any of: ^README\.md$
