Repository wawiesel/wks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-format, check-types, check-complexity, update-readme-stats

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-format
        name: Check Formatting (Ruff)
        entry: scripts/check_format.py
        language: script
        types: [python]

      - id: check-types
        name: Check Types (Mypy)
        entry: scripts/check_types.py
        language: script
        types: [python]
        require_serial: true

      - id: check-complexity
        name: Check Complexity (Lizard)
        entry: scripts/check_complexity.py
        language: script
        types: [python]
        stages: [pre-push]

      - id: pytest
        name: pytest
        entry: .venv/bin/pytest
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      - id: update-readme-stats
        name: Update README Statistics
        entry: scripts/update_readme_stats.py
        language: script
        files: ^README\.md$
        pass_filenames: false
        always_run: false
        stages: [pre-commit]

Update
  .gitignore
  CONTRIBUTING.md
  README.md
  pyproject.toml
  pytest.ini
  qa/__init__.py
  qa/metrics/complexity.json
  qa/specs/__init__.py
  tests/integration/test_mcp_server.py
  wks/api/cat/__init__.py
  wks/api/cat/schema.json
  wks/api/config/__init__.py
  wks/api/config/schema.json
  wks/api/daemon/__init__.py
  wks/api/daemon/schema.json
  wks/api/database/__init__.py
  wks/api/database/schema.json
  wks/api/link/__init__.py
  wks/api/link/schema.json
  wks/api/log/__init__.py
  wks/api/log/schema.json
  wks/api/monitor/__init__.py
  wks/api/monitor/schema.json
  wks/api/schema_loader.py
  wks/api/service/__init__.py
  wks/api/service/schema.json
  wks/api/transform/__init__.py
  wks/api/transform/schema.json
  wks/api/vault/__init__.py
  wks/api/vault/schema.json
  wks/mcp/__init__.py
  wks/mcp/call_tool.py
  wks/mcp/paths.py
  wks/mcp/schema.json
  wks/mcp/server.py
Due: check-format, check-types, check-complexity, update-readme-stats

Update
  wks/api/mcp/__init__.py
  wks/api/mcp/schema.json
  wks/api/schema_loader.py
  wks/mcp/server.py
Due: check-format, check-types, check-complexity

fix(lint): Fix import references and sorting in wks.mcp
  wks/mcp/__init__.py
  wks/mcp/call_tool.py
Due: check-format, check-types, check-complexity

fix(nohedging): update symlink resolver docstring to remove fallback mention and satisfy line length
  wks/api/vault/_obsidian/_Backend.py
Due: check-format, check-types, check-complexity

fix(nohedging): update symlink resolver docstring to remove fallback mention and satisfy line length (#51)
  wks/api/vault/_obsidian/_Backend.py
Due: check-format, check-types, check-complexity

fix: use correct coverage_pct key in README stats update script
  README.md
  scripts/update_readme_stats.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix(nohedging): update symlink resolver docstring to remove fallback mention and satisfy line length (#51)
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: add fallback to read mutation stats from mutmut results
  scripts/aggregate_mutation_stats.py
Due: check-format, check-types, check-complexity

fix: revert aggregate_mutation_stats.py to simple original version
  scripts/aggregate_mutation_stats.py
Due: check-format, check-types, check-complexity

refactor: streamline mutation stats aggregation
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

refactor: simplify mutation stats aggregation
  .github/workflows/test.yml
  CONTRIBUTING.md
  scripts/aggregate_mutation_stats.py
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: disable parallel execution for mutmut to fix forced fail test
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: use correct coverage_pct key in README stats update script (#52)
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  docs/traceability/traceability_audit.html
  qa/metrics/mutations.json
  qa/metrics/tokens.json
  scripts/aggregate_mutation_stats.py
  scripts/test_mutation_api.py
  scripts/update_readme_stats.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix: improve Per-Domain Quality table formatting
  README.md
  scripts/stats_lib.py
Due: check-format, check-types, check-complexity, update-readme-stats

ci: generate all statistics files and commit them
  .github/workflows/test.yml
Due: none

feat: add script to generate all statistics locally
  CONTRIBUTING.md
  scripts/generate_all_stats.py
Due: check-format, check-types, check-complexity

fix: address PR review comments
  .github/workflows/test.yml
  scripts/generate_coverage_stats.py
Due: check-format, check-types, check-complexity

fix: restore mutation stats aggregation and improve test isolation
  pyproject.toml
  scripts/test_mutation_api.py
  tests/conftest.py
  tests/unit/test_wks_api_log_cmd_prune.py
  tests/unit/test_wks_api_log_cmd_status.py
  tests/unit/test_wks_api_monitor_cmd_filter_remove.py
  wks/__init__.py
Due: check-format, check-types, check-complexity

refactor: move NEXT.md to root and clean up docs directory
  NEXT.md
  README.md
  docs/__init__.py
Due: check-format, check-types, check-complexity, update-readme-stats

refactor: move traceability audit to qa/ directory
  .github/workflows/test.yml
  docs/README.md
  docs/other/LESSONS_LEARNED.md
  scripts/generate_all_stats.py
  scripts/update_traceability_audit.py
Due: check-format, check-types, check-complexity

docs: update NEXT.md with new priorities
  NEXT.md
Due: none

docs: simplify priority labels to P1, P2, P3 in NEXT.md
  NEXT.md
Due: none

docs: restructure NEXT.md with single top-level heading and [PX] format
  NEXT.md
Due: none

docs: add 'why' blurbs to NEXT.md sections and polish remaining items
  NEXT.md
Due: none

ci: generate all statistics files and commit them (#53)
  .github/workflows/test.yml
  CONTRIBUTING.md
  NEXT.md
  README.md
  docs/README.md
  docs/__init__.py
  docs/campaigns/NEXT.md
  docs/other/LESSONS_LEARNED.md
  docs/traceability/traceability_audit.html
  pyproject.toml
  qa/metrics/coverage.json
  qa/metrics/mutations.json
  qa/metrics/tokens.json
  qa/metrics/traceability.json
  qa/traceability_audit.html
  scripts/generate_all_stats.py
  scripts/generate_coverage_stats.py
  scripts/stats_lib.py
  scripts/test_mutation_api.py
  scripts/update_traceability_audit.py
  tests/conftest.py
  tests/unit/test_wks_api_log_cmd_prune.py
  tests/unit/test_wks_api_log_cmd_status.py
  tests/unit/test_wks_api_monitor_cmd_filter_remove.py
  wks/__init__.py
Due: check-format, check-types, check-complexity, update-readme-stats

refactor: update convert_to_uri and uri_to_path to use URI type
  REFACTOR_URI_PLAN.md
  wks/utils/convert_to_uri.py
  wks/utils/uri_to_path.py
Due: check-format, check-types, check-complexity

docs: add handoff instructions for URI refactoring
  HANDOFF_URI_REFACTOR.md
Due: none

test: add coverage tests using file permissions
  .cursorignore
  HANDOFF_URI_REFACTOR.md
  NEXT.md
  README.md
  REFACTOR_URI_PLAN.md
  tests/integration/test_daemon_monitor_integration.py
  tests/integration/test_wks_cli_link.py
  tests/unit/test_wks_api_URI.py
  tests/unit/test_wks_api_daemon_cmd_start.py
  tests/unit/test_wks_api_link_prune.py
  tests/unit/test_wks_api_monitor_cmd_sync.py
  tests/unit/test_wks_api_monitor_resolve_remote_uri.py
  tests/unit/test_wks_api_transform_cmd_engine.py
  tests/unit/test_wks_api_transform_prune.py
  tests/unit/test_wks_api_vault_cmd_sync.py
  tests/unit/test_wks_utils_resolve_vault_path.py
  tests/unit/test_wks_utils_uri_to_string.py
  wks/api/URI.py
  wks/api/link/_identity.py
  wks/api/link/_sync_single_file.py
  wks/api/link/cmd_check.py
  wks/api/monitor/cmd_sync.py
  wks/api/monitor/resolve_remote_uri.py
  wks/api/transform/_TransformController.py
  wks/api/transform/_TransformRecord.py
  wks/api/vault/_identity.py
  wks/api/vault/_obsidian/_Scanner.py
  wks/utils/convert_to_uri.py
  wks/utils/path_to_uri.py
  wks/utils/resolve_vault_path.py
  wks/utils/uri_to_path.py
  wks/utils/uri_to_string.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix: add __future__ annotations for Python 3.12 compatibility
  .cursor/rules/.gitignore
  wks/api/URI.py
Due: check-format, check-types, check-complexity

chore: update Python version requirement to 3.12-3.14
  pyproject.toml
Due: none

chore: update CI matrix to test Python 3.12, 3.13, 3.14
  .github/workflows/test.yml
  README.md
Due: update-readme-stats

test: add edge case tests to improve mutation kill rate
  tests/unit/test_wks_api_link_cmd_check.py
  tests/unit/test_wks_api_monitor_cmd_check.py
  tests/unit/test_wks_api_monitor_explain_path.py
  tests/unit/test_wks_api_monitor_validate_value.py
  tests/unit/test_wks_api_vault_cmd_links.py
Due: check-format, check-types, check-complexity

test: update mutation metrics after edge case test improvements
  README.md
  qa/metrics/mutations.json
  tests/unit/test_wks_api_monitor_resolve_remote_uri.py
  wks/api/database/Database.py
  wks/api/database/_mongo/_Backend.py
  wks/api/link/_parsers/_HTMLParser.py
  wks/api/link/_parsers/_MarkdownParser.py
  wks/api/link/_parsers/_RSTParser.py
  wks/api/link/_parsers/_RawParser.py
  wks/api/link/_sync_single_file.py
  wks/api/link/cmd_check.py
  wks/api/monitor/cmd_sync.py
  wks/api/monitor/resolve_remote_uri.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix(api): resolve variable name conflict in cmd_check
  wks/api/link/cmd_check.py
Due: check-format, check-types, check-complexity

update: next work
  NEXT.md
Due: none

docs: update NEXT.md with PR #55 status
  NEXT.md
Due: none
