Repository wawiesel/wks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-format, check-types, check-complexity, update-readme-stats

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-format
        name: Check Formatting (Ruff)
        entry: scripts/check_format.py
        language: script
        types: [python]

      - id: check-types
        name: Check Types (Mypy)
        entry: scripts/check_types.py
        language: script
        types: [python]
        require_serial: true

      - id: check-complexity
        name: Check Complexity (Lizard)
        entry: scripts/check_complexity.py
        language: script
        types: [python]
        stages: [pre-push]

      - id: pytest
        name: pytest
        entry: .venv/bin/pytest
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      - id: update-readme-stats
        name: Update README Statistics
        entry: scripts/update_readme_stats.py
        language: script
        files: ^README\.md$
        pass_filenames: false
        always_run: false
        stages: [pre-commit]

Update
  .github/workflows/update-stats.yml
  scripts/generate_codebase_visualization.py
  scripts/update_readme_stats.py
  setup.cfg
  tests/unit/test_wks_api_domain_init_exports.py
  tests/unit/test_wks_api_init_exports.py
  tests/unit/test_wks_api_schema_loader_and_registry.py
  tests/unit/test_wks_api_service_ServiceConfig.py
  wks/api/config/load_config_with_output.py
Due: check-format, check-types, check-complexity

Update
  scripts/update_readme_stats.py
Due: check-format, check-types, check-complexity

Update
  README.md
  scripts/update_readme_stats.py
  tests/unit/test_wks_api_daemon_cmd_start.py
  tests/unit/test_wks_api_daemon_cmd_status.py
  tests/unit/test_wks_api_daemon_cmd_stop.py
Due: check-format, check-types, check-complexity, update-readme-stats

feat: add code quality metrics and automated README statistics
  README.md
  pyproject.toml
  scripts/update_readme_stats.py
  setup.py
Due: check-format, check-types, check-complexity, update-readme-stats

chore: update README statistics
  README.md
  tests/unit/test_wks_api_service_ServiceConfig.py
  wks/api/config/WKSConfig.py
  wks/api/daemon/cmd_start.py
  wks/api/daemon/cmd_stop.py
  wks/api/monitor/cmd_filter_add.py
  wks/api/service/Service.py
Due: check-format, check-types, check-complexity, update-readme-stats

chore: update README statistics
  README.md
  tests/unit/conftest.py
  tests/unit/test_wks_api_daemon_cmd_stop.py
  tests/unit/test_wks_api_database_Database_public.py
  tests/unit/test_wks_api_domain_init_exports.py
  tests/unit/test_wks_api_monitor_matches_glob.py
  tests/unit/test_wks_api_schema_loader_and_registry.py
Due: check-format, check-types, check-complexity, update-readme-stats

feat: add Linux systemd backend for service management
  tests/conftest.py
  wks/api/service/ServiceConfig.py
  wks/api/service/_linux/README.md
  wks/api/service/_linux/_Data.py
  wks/api/service/_linux/_Impl.py
Due: check-format, check-types, check-complexity

refactor: standardize config fixture naming in tests/unit/conftest
  tests/unit/conftest.py
  tests/unit/test_wks_api_database_cmd_list.py
  tests/unit/test_wks_api_database_cmd_reset.py
  tests/unit/test_wks_api_database_cmd_show.py
  tests/unit/test_wks_api_mcp_cmd_install.py
  tests/unit/test_wks_api_mcp_cmd_list.py
  tests/unit/test_wks_api_mcp_cmd_uninstall.py
  tests/unit/test_wks_api_monitor_cmd_filter_add.py
  tests/unit/test_wks_api_monitor_cmd_filter_remove.py
  tests/unit/test_wks_api_monitor_cmd_priority_add.py
  tests/unit/test_wks_api_monitor_cmd_priority_remove.py
  tests/unit/test_wks_api_monitor_cmd_priority_show.py
  tests/unit/test_wks_api_service_cmd_install.py
  tests/unit/test_wks_api_service_cmd_start.py
  tests/unit/test_wks_api_service_cmd_status.py
  tests/unit/test_wks_api_service_cmd_stop.py
  tests/unit/test_wks_api_service_cmd_uninstall.py
Due: check-format, check-types, check-complexity

feat: add Docker-based integration test for Linux service installation
  .github/workflows/test-linux-service.yml
  Dockerfile.test-linux-service
  tests/integration/test_linux_service_install.py
Due: check-format, check-types, check-complexity

fix: resolve indentation errors in schema_loader and schema_registry
  .cursor/rules/scripts/check_python.py
  .github/workflows/test-linux-service.yml
  .github/workflows/test.yml
  .github/workflows/update-stats.yml
  pytest.ini
  scripts/README.md
Due: check-format, check-types, check-complexity

fix: reduce complexity in check_python.py script
  .cursor/rules/scripts/check_python.py
Due: check-format, check-types, check-complexity

fix: resolve formatting, linting, and mypy type errors
  scripts/generate_codebase_visualization.py
  scripts/test_mutation_api.py
  wks/api/config/cmd_list.py
  wks/api/config/cmd_show.py
  wks/api/mcp/cmd_install.py
  wks/api/monitor/validate_value.py
  wks/api/vault/indexer.py
  wks/mcp/server.py
Due: check-format, check-types, check-complexity

fix: reduce complexity in generate_codebase_visualization and server
  scripts/generate_codebase_visualization.py
  wks/mcp/server.py
Due: check-format, check-types, check-complexity

docs: add visualization generation instructions to CONTRIBUTING.md
  .gitignore
  CONTRIBUTING.md
Due: none

fix: reduce complexity in get_typer_command_schema (CCN 26 -> <10)
  wks/cli/get_typer_command_schema.py
Due: check-format, check-types, check-complexity

fix: complexity check script to only fail on actual violations
  scripts/check_complexity.py
Due: check-format, check-types, check-complexity

fix: reduce complexity in cmd_status (NLOC 139 -> <100)
  wks/api/service/cmd_status.py
Due: check-format, check-types, check-complexity

feat: add file-level NLOC limit (max 500 lines per file)
  scripts/check_complexity.py
Due: check-format, check-types, check-complexity

fix: address CI test failures
  .github/workflows/test-linux-service.yml
  README.md
  scripts/generate_codebase_visualization.py
  tests/integration/test_daemon_monitor_integration.py
  tests/smoke/test_cli_smoke.py
  tests/smoke/test_mcp_smoke.py
Due: check-format, check-types, check-complexity, update-readme-stats

feat: install MongoDB tools in CI for local mongod support
  .github/workflows/test-linux-service.yml
  .github/workflows/test.yml
Due: none

fix: add MongoDB tools to Docker test image
  Dockerfile.test-linux-service
Due: none

refactor: enforce MongoDB requirement - fail fast, no hedging
  .github/workflows/test-linux-service.yml
  tests/integration/test_daemon_monitor_integration.py
  tests/smoke/test_cli_smoke.py
  tests/smoke/test_mcp_smoke.py
Due: check-format, check-types, check-complexity

fix: update MongoDB installation for Ubuntu 24.04 and modern GPG
  .github/workflows/test.yml
Due: none

fix: use jammy repository for MongoDB (Ubuntu 24.04 not supported)
  .github/workflows/test.yml
Due: none

fix: install mongodb-org-server instead of mongodb-org-tools
  .github/workflows/test.yml
Due: none

fix: address test failures in CI
  tests/integration/test_linux_service_install.py
  tests/unit/test_wks_api_config_WKSConfig.py
  tests/unit/test_wks_api_config_save.py
Due: check-format, check-types, check-complexity

fix: handle permission errors in WKSConfig.save() exception handler
  wks/api/config/WKSConfig.py
Due: check-format, check-types, check-complexity

fix: exclude linux_service tests from regular CI runs
  .github/workflows/test.yml
  tests/integration/test_linux_service_install.py
Due: check-format, check-types, check-complexity

fix: enforce Linux service test runs in Docker workflow only
  tests/integration/test_linux_service_install.py
Due: check-format, check-types, check-complexity

fix: exclude linux_service tests from pre-push hook
  .pre-commit-config.yaml
Due: none

fix: create pytest wrapper script for pre-push hook
  .pre-commit-config.yaml
  scripts/run_pytest_pre_push.sh
Due: none

fix: remove test exclusions - all tests must run
  scripts/run_pytest_pre_push.sh
  tests/integration/test_linux_service_install.py
Due: check-format, check-types, check-complexity

fix: address all three CI test failures
  .github/workflows/test-linux-service.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Dockerfile.test-linux-service
  tests/integration/test_daemon_monitor_integration.py
Due: check-format, check-types, check-complexity

fix: improve systemd detection and Docker setup for user services
  .github/workflows/test-linux-service.yml
  tests/integration/test_linux_service_install.py
Due: check-format, check-types, check-complexity

fix: increase mongod startup timeout for CI
  wks/api/database/_mongo/_Impl.py
Due: check-format, check-types, check-complexity

fix: address mongod crash and systemd PID 1 issues
  .github/workflows/test-linux-service.yml
  Dockerfile.test-linux-service
  wks/api/database/_mongo/_Impl.py
Due: check-format, check-types, check-complexity

fix: remove --nojournal flag (not supported in MongoDB 7.0+)
  wks/api/database/_mongo/_Impl.py
Due: check-format, check-types, check-complexity

fix: skip linux_service tests in pre-push hook on macOS
  .pre-commit-config.yaml
Due: none

fix: make linux_service test platform-aware
  tests/integration/test_linux_service_install.py
Due: check-format, check-types, check-complexity

feat: add macOS launchd service installation integration test
  .pre-commit-config.yaml
  pytest.ini
  tests/integration/test_darwin_service_install.py
Due: check-format, check-types, check-complexity
