Repository wawiesel/wks: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-format, check-types, check-complexity, update-readme-stats

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: check-format
        name: Check Formatting (Ruff)
        entry: scripts/check_format.py
        language: script
        types: [python]

      - id: check-types
        name: Check Types (Mypy)
        entry: scripts/check_types.py
        language: script
        types: [python]
        require_serial: true

      - id: check-complexity
        name: Check Complexity (Lizard)
        entry: scripts/check_complexity.py
        language: script
        types: [python]
        stages: [pre-push]

      - id: pytest
        name: pytest
        entry: .venv/bin/pytest
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      - id: update-readme-stats
        name: Update README Statistics
        entry: scripts/update_readme_stats.py
        language: script
        files: ^README\.md$
        pass_filenames: false
        always_run: false
        stages: [pre-commit]

Update
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: Resolve TypeError in transform cache and revert parallel mutation testing
  .gitignore
  tests/conftest.py
  wks/api/transform/_CacheManager.py
  wks/api/transform/_TransformRecord.py
Due: check-format, check-types, check-complexity

style: Apply ruff formatting (forced)
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

refactor: Extract mutation stats parsing to helper function
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

style: Apply ruff formatting
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

style: Apply ruff formatting to test_mutation_api.py
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

feat: Show skipped line count in throttled logs
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

ci: Update mutation script args and log interval logic
  .github/workflows/test.yml
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: Suppress blank lines in throttled mutation logs (forced)
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: Convert CR to LF in throttled mutation logs (forced)
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: Flush final skipped progress line (forced)
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: Simplify mutation log throttling (forced)
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: Simplify mutation log throttling (clean)
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: Patch pytest cleanup_dead_symlinks to prevent race condition
  tests/conftest.py
Due: check-format, check-types, check-complexity

refactor: Rewrite _process_pty_output with clean TTY emulation model
  scripts/test_mutation_api.py
Due: check-format, check-types, check-complexity

fix: add missing 'cached' field to transform error output (#41)
  .github/workflows/publish-ci-image.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  docker/Dockerfile.ci-runner
  docs/specifications/transform_output.schema.json
  scripts/check_docker_image.sh
  scripts/ci_cleanup_disk.sh
  scripts/disk_avail.sh
  scripts/test_mutation_api.py
  scripts/update_readme_stats.py
  setup.cfg
  stats.json
  tests/conftest.py
  tests/unit/test_wks_api_log_read_log_entries.py
  tests/unit/test_wks_api_transform_cmd_engine.py
  tests/unit/test_wks_utils_has_internet.py
  wks/api/transform/_CacheManager.py
  wks/api/transform/_TransformRecord.py
  wks/api/transform/cmd_engine.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix(vault): improve mutation coverage and database pruning logic
  README.md
  scripts/test_mutation_api.py
  scripts/update_readme_stats.py
  stats.json
  tests/conftest.py
  tests/unit/conftest.py
  tests/unit/test_wks_api_cat_cmd.py
  tests/unit/test_wks_api_transform_cmd_engine.py
  wks/api/transform/_TransformController.py
  wks/api/vault/cmd_check.py
  wks/api/vault/cmd_links.py
  wks/api/vault/cmd_status.py
  wks/api/vault/cmd_sync.py
Due: check-format, check-types, check-complexity, update-readme-stats

feat(config): enforce transform cache monitoring and isolate test environments
  .gitignore
  README.md
  scripts/test_mutation_api.py
  scripts/update_readme_stats.py
  stats.json
  tests/conftest.py
  tests/integration/test_darwin_service_install.py
  tests/integration/test_linux_service_install.py
  tests/smoke/test_mcp_smoke.py
  tests/unit/test_wks_api_config_save.py
  tests/unit/test_wks_api_config_validation.py
  tests/unit/test_wks_api_daemon_cmd_status.py
  tests/unit/test_wks_api_link_cmd_check.py
  tests/unit/test_wks_api_link_cmd_sync.py
  tests/unit/test_wks_api_monitor_cmd_check.py
  tests/unit/test_wks_api_monitor_cmd_filter_remove.py
  tests/unit/test_wks_api_monitor_cmd_filter_show.py
  tests/unit/test_wks_api_monitor_cmd_status.py
  tests/unit/test_wks_api_monitor_cmd_sync.py
  wks/api/config/WKSConfig.py
  wks/api/monitor/explain_path.py
  wks/utils/get_wks_home.py
Due: check-format, check-types, check-complexity, update-readme-stats

test(vault): improve mutation coverage and fix transform pruning logic (#43)
  .gitignore
  README.md
  scripts/test_mutation_api.py
  scripts/update_readme_stats.py
  stats.json
  tests/conftest.py
  tests/integration/test_darwin_service_install.py
  tests/integration/test_linux_service_install.py
  tests/smoke/test_mcp_smoke.py
  tests/unit/conftest.py
  tests/unit/test_wks_api_cat_cmd.py
  tests/unit/test_wks_api_config_save.py
  tests/unit/test_wks_api_config_validation.py
  tests/unit/test_wks_api_daemon_cmd_status.py
  tests/unit/test_wks_api_link_cmd_check.py
  tests/unit/test_wks_api_link_cmd_sync.py
  tests/unit/test_wks_api_monitor_cmd_check.py
  tests/unit/test_wks_api_monitor_cmd_filter_remove.py
  tests/unit/test_wks_api_monitor_cmd_filter_show.py
  tests/unit/test_wks_api_monitor_cmd_status.py
  tests/unit/test_wks_api_monitor_cmd_sync.py
  tests/unit/test_wks_api_transform_cmd_engine.py
  wks/api/config/WKSConfig.py
  wks/api/monitor/explain_path.py
  wks/api/transform/_TransformController.py
  wks/api/vault/cmd_check.py
  wks/api/vault/cmd_links.py
  wks/api/vault/cmd_status.py
  wks/api/vault/cmd_sync.py
  wks/utils/get_wks_home.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix(api): remove NoHedging violation in transform/prune.py
  wks/api/transform/prune.py
Due: check-format, check-types, check-complexity

test(api): fix date-sensitive test that expires over time
  tests/unit/test_wks_api_log_read_log_entries.py
Due: check-format, check-types, check-complexity

refactor(api): remove NoHedging violations in database/cmd_prune.py
  tests/unit/test_wks_api_database_cmd_prune.py
  wks/api/database/cmd_prune.py
Due: check-format, check-types, check-complexity

refactor(api): enforce NoHedging rule across codebase
  wks/api/config/WKSConfig.py
  wks/api/database/_get_last_prune_timestamp.py
  wks/api/diff/DiffConfig.py
  wks/api/diff/MyersEngine.py
  wks/api/service/_read_daemon_file.py
  wks/api/transform/_CacheManager.py
  wks/api/transform/_testengine/_TestEngine.py
  wks/api/vault/_obsidian/_Scanner.py
Due: check-format, check-types, check-complexity

feat(diff): enable diff domain with Pydantic configuration
  tests/unit/test_wks_api_diff_DiffConfig.py
  tests/unit/test_wks_api_diff_MyersEngine.py
  wks/api/config/WKSConfig.py
  wks/api/diff/DiffConfig.py
  wks/api/diff/DiffEngineConfig.py
  wks/api/diff/DiffRouterConfig.py
  wks/api/diff/cmd.py
  wks/cli/_create_app.py
  wks/cli/diff.py
Due: check-format, check-types, check-complexity

refactor(api): remove final NoHedging violations in schema_loader.py, registry.py, and _get_status_path.py
  README.md
  stats.json
  tests/unit/test_wks_api_service_Service.py
  tests/unit/test_wks_api_service_cmd_install.py
  tests/unit/test_wks_api_service_cmd_start.py
  tests/unit/test_wks_api_service_cmd_stop.py
  tests/unit/test_wks_api_service_cmd_uninstall.py
  tests/unit/test_wks_api_service_pid_running.py
  tests/unit/test_wks_api_service_read_daemon_file.py
  wks/api/database/_get_status_path.py
  wks/api/diff/DiffConfig.py
  wks/api/schema_loader.py
  wks/api/schema_registry.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix(test): ensure log directory exists in log status unit tests
  tests/unit/test_wks_api_log_cmd_status.py
Due: check-format, check-types, check-complexity

fix(api): remove NoHedging violations in transform/prune.py (#42)
  README.md
  stats.json
  tests/unit/test_wks_api_database_cmd_prune.py
  tests/unit/test_wks_api_log_cmd_status.py
  tests/unit/test_wks_api_log_read_log_entries.py
  tests/unit/test_wks_api_service_Service.py
  tests/unit/test_wks_api_service_cmd_install.py
  tests/unit/test_wks_api_service_cmd_start.py
  tests/unit/test_wks_api_service_cmd_stop.py
  tests/unit/test_wks_api_service_cmd_uninstall.py
  tests/unit/test_wks_api_service_pid_running.py
  tests/unit/test_wks_api_service_read_daemon_file.py
  wks/api/config/WKSConfig.py
  wks/api/database/_get_last_prune_timestamp.py
  wks/api/database/_get_status_path.py
  wks/api/database/cmd_prune.py
  wks/api/diff/DiffConfig.py
  wks/api/diff/MyersEngine.py
  wks/api/schema_loader.py
  wks/api/schema_registry.py
  wks/api/service/_read_daemon_file.py
  wks/api/transform/_CacheManager.py
  wks/api/transform/_testengine/_TestEngine.py
  wks/api/transform/prune.py
  wks/api/vault/_obsidian/_Scanner.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix(transform): remove NoHedging violations in _TransformRecord
  wks/api/transform/_TransformRecord.py
Due: check-format, check-types, check-complexity

fix(transform): remove NoHedging violations in _TransformRecord (#44)
  README.md
  stats.json
  wks/api/transform/_TransformRecord.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix(display): remove dead code methods (table, tree, panel)
  CONTRIBUTING.md
  wks/cli/display.py
  wks/utils/display/Display.py
Due: check-format, check-types, check-complexity

chore: add .gitattributes for auto-generated file merge strategy
  .gitattributes
  CONTRIBUTING.md
Due: none

fix(display): remove dead code methods (table, tree, panel) (#45)
  .gitattributes
  CONTRIBUTING.md
  README.md
  stats.json
  wks/cli/display.py
  wks/utils/display/Display.py
Due: check-format, check-types, check-complexity, update-readme-stats

fix(cli): remove NoHedging violations in version display
  wks/cli/__init__.py
Due: check-format, check-types, check-complexity

fix(cli): remove NoHedging violations in version display (#46)
  README.md
  stats.json
  wks/cli/__init__.py
Due: check-format, check-types, check-complexity, update-readme-stats

refactor(service): use strictly typed ServiceStatus DTO
  tests/unit/test_wks_api_service_cmd_start.py
  tests/unit/test_wks_api_service_cmd_status.py
  tests/unit/test_wks_api_service_cmd_stop.py
  wks/api/service/Service.py
  wks/api/service/ServiceStatus.py
  wks/api/service/_AbstractImpl.py
  wks/api/service/_darwin/_Impl.py
  wks/api/service/_linux/_Impl.py
  wks/api/service/cmd_start.py
  wks/api/service/cmd_status.py
  wks/api/service/cmd_stop.py
Due: check-format, check-types, check-complexity

refactor(service): use ServiceStatus object for status reporting
  tests/unit/test_wks_api_service_cmd_start.py
  tests/unit/test_wks_api_service_cmd_status.py
  tests/unit/test_wks_api_service_cmd_stop.py
  wks/api/service/Service.py
  wks/api/service/ServiceStatus.py
  wks/api/service/_AbstractImpl.py
  wks/api/service/_darwin/_Impl.py
  wks/api/service/_linux/_Impl.py
  wks/api/service/cmd_start.py
  wks/api/service/cmd_status.py
  wks/api/service/cmd_stop.py
Due: check-format, check-types, check-complexity

test: update integration tests to use ServiceStatus object
  tests/integration/test_darwin_service_install.py
  tests/integration/test_linux_service_install.py
Due: check-format, check-types, check-complexity

fix(service/darwin): only set running=True if PID found
  wks/api/service/_darwin/_Impl.py
Due: check-format, check-types, check-complexity

test(integration): add wait after stop_service
  tests/integration/test_darwin_service_install.py
Due: check-format, check-types, check-complexity

test(integration): use robust wait for service status
  tests/integration/test_darwin_service_install.py
Due: check-format, check-types, check-complexity
